<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <form>
        <input class="Proj" type="button" onclick="#" value="List all" />
    </form>

   <table style = "width:100%">
    <tr>
        <!-- <th style="color: #0587E9; " > Work Order # </th> -->
        <th style="color: #0587E9;">Project ID</th>
        <th style= "color: #0587E9;">Description</th>
        <th style= "color: #0587E9;">Status</th>
    </tr>
    <% for (const item of model) { %>
    <button>
        <table type="button" class="collapsible">
        <th class="proj"  style="color: aliceblue;"><%= item.PS_Project %></th>
        <th class="desc"  style="color: aliceblue;"><%= item.p_Description %></th>
        <th class="status"  style="color: aliceblue;"><%= item.Status %></th>
        </table>
    </button>
        <div class = "content">
            <table>
                <tr>
                <th>WO number</th>
                <th>Department</th>
                <th>Goal Group</th>
                <th>Goal</th>
                <th># of Units</th>
                </tr>

                <tr>
                    <td><% = item.WO_Num %></td>
                    <td><% = item.Department %></td>
                    <td><% = item.Goal_Group %></td>
                    <td><% = item.Goal %></td>
                    <td><% = item.Units %></td>
                </tr>

                <tr>
                    <th>Meter Name</th>
                    <th>Meter Reading</th>
                    <th>Last Reading Date</th>
                    <th>Completion %</th>
                </tr>

                <% for (const meter of rows) { %>
                    <tr>
                        <td><% = meter.m_Meter_Name %> </td>
                        <td><% = meter.m_Meter_Reading %> </td>
                        <td><% = meter.m_Reading_Date %> </td>
                        <td><% = meter.Completion %> </td>
                    </tr>
                <% } %>
            </table>
        </div>
    <% } %>
   </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="backend.js"></script>
</html>