<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input class="Proj" type="button" onclick="#" value="List all" />
    </form>
   <table style = "width:100%">
    <tr>
        <th>Project ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <% for (const item of model) { %>
    <button>
        <table>
        <th><%= item.PS_Project %></th>
        <th><%= item.p_Description %></th>
        <th><%= item.Status %></th>
        </table>
    </button>
        <div class = "content">
            <table>
                <tr>
                <th>WO number</th>
                <th>Department</th>
                <th>Goal Group</th>
                <th>Goal</th>
                <th># of Units</th>
                </tr>

                <tr>
                    <td><% = item.WO_Num %></td>
                    <td><% = item.Department %></td>
                    <td><% = item.Goal_Group %></td>
                    <td><% = item.Goal %></td>
                    <td><% = item.Units %></td>
                </tr>

                <tr>
                    <th>Meter Name</th>
                    <th>Meter Reading</th>
                    <th>Last Reading Date</th>
                    <th>Completion %</th>
                </tr>
                <tr>
                    <td><% = item.m_Meter_Name %> </td>
                    <td><% = item.m_Meter_Reading %> </td>
                    <td><% = item.m_Reading_Date %> </td>
                    <td><% = item.Completion %> </td>
                </tr>
            </table>
        </div>
    <% } %>
   </table>
</body>
</html>