<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <nav>
    <ul>
        <h1>Projects</h1>
        <% for (let i = 0; i < proj.length; i++) { %>
            <p> <%= proj[i].PS_Project,  %> </p>
            <p> <%= proj[i].Description %> </p>
            <p> <%= proj[i].Status %> </p>
        <% } %>
     </ul>
    </nav>
</body>
</html>