<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <nav>
    <table>
        <h1>Projects</h1>
        

        <% for (const proj of rows) { %>
            <th><%= rows.p_PS_Project %></th>
            <th><%= rows.p_Description %></th>
            <th><%= rows.p_Status %></th>
        <% } %>
    </table>
    </nav>
</body>
</html>