<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <nav>
    <table style = "width:100%">
        <h1>Projects</h1>

        <th>Project ID</th>
        <th>Description</th>
        <th>Status</th>

        <% for (const proj of rows) { %>
            <td><%= proj.p_PS_Project %></td>
            <td><%= proj.p_Project_Desc %></td>
            <td><%= proj.p_Status %></td>
        <% } %>
    </table>
    </nav>
</body>
</html>