body{
  background-color: #0D0D0E;
}
.collapsible {
   /* background-color: #2f3640;*/
   background-color: #0D0D0E;
    color: aliceblue;
    cursor: pointer;
    border-radius: 20px;
    padding: 18px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    /*outline */
    border-style: solid;
    border-color: #24272B;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    /*blue outline border */
    border-style: solid;
    border-radius: 20px;
    border-color: #0587E9;
    color: white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
   
    margin: 0;
    display: none;
    overflow: hidden;
   /* background-color:  #2f3640;*/
   background-color: #0D0D0E;
    border-style: solid;
    border-color: #0587E9;
    /*
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    */
    border-radius: 20px;
  }

  table {
      width: 100%;
  }

  th{
    /*color: #24272B;*/
    color: #6D7278;
    
    font-family: "Roboto", sans-serif;
  }

  td{
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: small;
    padding: 20px;
}


/* style the links */

form{
  padding-left: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.WO{
  width: 40%;
  height: 60px;
  font-family: "Roboto", sans-serif;
  
  font-size: larger;
  font-weight: bolder;

  background-color: #0D0D0E;
  color: white;
  margin-bottom: 200px;

  border-style: none;
}

.WO:hover{
  color: #0587E9;
  border-style: solid;
  border-top-color: #0D0D0E;
  border-left-color: #0D0D0E;
  border-right-color: #0D0D0E;
  border-bottom-color: #0587E9;
  border-width: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.WO::after{

  border-style: none;
}

.AA{
  width: 40%;
  height: 60px;
  font-family: "Roboto", sans-serif;
  
  font-size: larger;
  font-weight: bolder;

  background-color: #0D0D0E;
  color: white;
  margin-bottom: 200px;

  border-style: none;
}

.AA:hover{
  color: #0587E9;
  border-style: solid;
  border-top-color: #0D0D0E;
  border-left-color: #0D0D0E;
  border-right-color: #0D0D0E;
  border-bottom-color: #0587E9;
  border-width: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.AA::after{

  border-style: none;
}

.title{
  color: red;
}

/* Navigation menu */

.sidenav{
  height: 100%;
  width: 0; /* this is because it is closed */
  position: fixed; /* so it stays in place */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0D0D0E;
  border-style: solid;
  border-color: #24272B;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5 s;
}

/* for the links */

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #0587E9;
}

/* close button on the right corner of the side nav */
.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* open button */
span{
  font-family: "Roboto", sans-serif;
  color: #0587E9;
  position: fixed;
  top: 25px;
 
}